
@{
    ViewBag.Title = "Admin-Duyệt Hồ Sơ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    <h3><i class="mdi mdi-clipboard-check-outline"></i>&nbsp;Duyệt Hồ Sơ </h3>

}
<h2 style="margin-top:100px; margin-left:100px">Trang Duyệt Hồ Sơ - Admin</h2>

