
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <h3><i class="mdi mdi-shield-key-outline"></i>&nbsp;Đổi mật khẩu </h3>
}
<h2 style="margin-top:100px; margin-left:100px">Trang Đổi mật khẩu - Admin</h2>


