
@{
    ViewBag.Title = "Quản Lý Thu Phí";
    Layout = "~/Areas/CongTacVien/Views/Shared/_Layout.cshtml";
}

@section header{
    <h3><i class="mdi mdi-cash-usd"></i>&nbsp;Quản Lý Thu Phí</h3>
}
<h2 style="margin-top:100px; margin-left:100px">Quản Lý Thu Phí - CTV</h2>


