
@{
    ViewBag.Title = "CTV-Đổi Mật Khẩu";
    Layout = "~/Areas/CongTacVien/Views/Shared/_Layout.cshtml";
}

@section header{
    <h3><i class="mdi mdi-shield-key-outline"></i>&nbsp;Đổi Mật Khẩu</h3>
}
<h2 style="margin-top:100px; margin-left:100px">Đổi Mật Khẩu - CTV</h2>

