
@{
	ViewBag.Title = "Trang chủ Cơ Sở Dịch Vụ";
	Layout = "~/Areas/CSDV/Views/Shared/_Layout.cshtml";
}
</br>
</br>
</br>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label>Mã sinh viên</label>
			<input class="form-control" disabled value="1811505310107" />
		</div>
		<div class="form-group">
			<label>Họ và tên</label>
			<input class="form-control" disabled value="Nguyễn Thành Đạt" />
		</div>
		
	</div>
	
</div>